.home {
    /* padding-top: 5vh; */
}

.banner {
    background-size: cover;
    width:100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text{
    border: 3px white solid;
    padding: 1em;
    text-align: center;
}

.desc {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin: 10vh auto;
}

.desc-text {
    width: 45%;
    border: 4px dotted white;
    padding: 3em;
}

.desc-img {
    width: 35%;
}